.auth {
	width: 50rem;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 0.05rem solid #c1c1c1;
	border-radius: 5px;
	padding: 6rem;
	background-color: #fff;
	overflow: hidden;
}

.box {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.box > * {
	font-size: 200% !important;
	user-select: none;
}
.brand {
	width: 27rem;
	height: 11rem;
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.questionText {
	font-size: 1.5rem;
	margin-top: 2rem;
}
.questionText a {
	text-decoration: none;
	color: #1976d2;
}
.box button {
	color: #fff;
}

.passwordBox {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
}
input {
	width: 100%;
	font-size: 2rem;
	padding: 1rem 1rem;
	margin: 1.5rem 0;
	border-radius: 5px;
	border: 1px solid #c1c1c1;
}
input:active,
input:focus {
	outline: auto;
	outline-color: #1976d28d;
}

.showPassword {
	position: absolute;
	right: 1rem;
	background: none;
	border: none;
	outline: none;
}
.submit {
	width: 100%;
	background-color: #1976d2;
	border: none;
	padding: 0.7rem;
	margin: 1rem 0;
	border-radius: 5px;
	text-transform: capitalize;
	cursor: pointer;
}
.submit:active {
	background-color: #0d48a1c6;
}
.submit:disabled {
	background-color: #c1c1c1;
	opacity: 0.5;
	cursor: not-allowed;
}
.submit svg {
	width: 2rem;
	height: 2rem;
}
.warning {
	width: 100%;
	color: #f44336;
	text-align: left;
	padding-left: 1rem;
}
.warning p {
	font-size: 1.5rem;
}
.warnInput {
	border: 1px solid #f44336;
}
@keyframes error {
	0% {
		opacity: 0;

		transform: translateY(-4rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* responsive styles */

@media screen and (max-width: 600px) {
	.auth {
		width: 90%;
	}
	.brand {
		width: 23rem;
		height: 9rem;
	}
}
