.auth {
    width: 50rem;
    height: 60rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.05rem solid #c1c1c1;
    border-radius: 5px;
    padding: 6rem;
    background-color: #fff;
    overflow: hidden;
}

.auth .error{
     position: absolute;
     top: 0;
     left: 0;
     color: #FFF;
    background-color: #F00;
     font-size: 1.8rem;
     font-weight: bold;
     text-align: center;
     width: 100%;
     padding: 1rem;
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;
    animation: error 400ms ease;
}
.box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.box > *{
    font-size: 200% !important;
    user-select: none;
}
.brand{
    width: 27rem;
    height: 11rem;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.questionText{
    font-size: 1.5rem;
    margin-top: 2rem;
}
.questionText a{
    text-decoration: none;
    color: #1976d2;
}
.box button{
    color: #fff;
}

@keyframes error {
    0% {
        opacity: 0;

        transform: translateY(-4rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}