.card p, .card span{
    font-size: 1.4rem;
    color: #333;
}
.card button{
    font-size: 1.4rem;
}
.card  span{
    font-weight: 800;
    cursor: pointer;
}
.card svg{
    color: #333;
}
.card a{
    text-decoration: none;
    color: #8e8e8e;
}
.card .time{
    font-size: 1.1rem;
    margin-top: 1rem;
    color: #8e8e8e;
}
.card .content p{
    padding: .3rem;
}
.card svg:hover{
    color: #8e8e8e;
}

.card .likeAnimation{
    animation: likeAnimation 300ms ease-out;

}

@keyframes likeAnimation{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.30);
    }
    100%{
        transform: scale(1);
    }
}