.nav{
    min-height: 5rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid #e0e0e0;
    background: #fff;
    z-index: 99;
}
.behind{
    min-height: 7rem;
    width: 100%;
}
.box{
    margin: 0 auto;
    width: 98%;
    max-width: 98rem;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}
.brand a img{
    width: 15rem;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1.5rem;
}
.icons a{
    text-decoration: none;
}
.icons svg, .icons > div > button > div,.icons > div > button{
    width: 2.6rem;
    height: 2.6rem;
    margin: 0;
}
.icons svg, .icons > div{
    margin-left: 2.5rem;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}
.buttons > button{
    margin-left: 2.5rem ;
    font-size: 1.3rem;
    text-transform: capitalize;
    padding: .2rem .5rem;
}
.avatarDropdown svg{
    margin-left: 0 !important;
}
