.nav{
    min-height: 7rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid #e0e0e0;
    background: #fff;
}
.behind{
    min-height: 7rem;
    width: 100%;
}
.box{
    margin: 0 auto;
    width: 70%;
    max-width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.column, .brand{
    width: 100%;
    height: 100%;
}
.brand a img{
    width: 15rem;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.icons svg, .icons > div > button > div,.icons > div > button{
    width: 2.6rem;
    height: 2.6rem;
    margin: 0;
}
.icons svg, .icons > div{
    margin-left: 2.5rem;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}
.buttons > button{
    margin-left: 2.5rem ;
    font-size: 1.4rem;

}

