body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  height: 100%;
  background-color: #fafafa;
  overflow-y: scroll !important;
  padding-right: 0px !important;
}
body a{
  text-decoration: none;
  color: inherit;
}
#root{
  width: 100%;
  height: 100%;
  position: relative;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 62.5%;
  height: 100%;
  width: 100%;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.likeAnimation{
  animation: likeAnimation 300ms ease-out;

}

@keyframes likeAnimation{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.30);
  }
  100%{
    transform: scale(1);
  }
}